node_modules/
.yarn/
dist/
coverage/
.env
.DS_Store
.vscode/
*.log
*.tmp
*.swp
*.bak
*.orig
*.cache
*.pid
*.tgz
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.bz2
*.xz
*.swm
*.swo
*.cjs
*.mjs
yarn-error.log
package-lock.json
yarn.lock